.DomainRejectedContainer {
  position: relative;
  height: 100%;
}


.DomainRejectedContainer .header {
  display: inline-block;
}

:root:root:root .DomainRejectedContainer .refresh {
  float: right;
  border: 1px solid #3434CE;
  border-radius: 3px;
  color: #3434CE !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
  box-shadow: unset;
}

.DomainRejectedContainer .HeaderColumn {
  padding-bottom: 0px !important;
}

.DomainRejectedContainer .HeaderRow {
  padding-top: 10px;
}

.DomainRejectedContainer .DomainRejectedBody {
  height: 100%;
}

.RejectedMessage {
  padding-left: 20px;
  padding-right: 20px;
}

.RejectedMessage .DomainName { 
  display: block;
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 0px;
  margin: 0 auto;
}