.DomainScamReport {
  position: relative;
}

.DomainScamReport .unknown,
.DomainScamReport .unknown a {
  color: #333;
}

.DomainScamReport .safe,
.DomainScamReport .safe a {
  color: green;
}

.DomainScamReport .unsafe,
.DomainScamReport .unsafe a {
  color: red;
}

.DomainScamReport .warning:not(.icon),
.DomainScamReport .warning a {
  color: orange;
}

.DomainScamReportList {
}

.DomainScamReportListItem {
  width: 100%;
  margin-bottom: 0.5em;
}

.DomainScamReportListItem label {
  display: block;
  font-size: 0.8em;
}

.DomainScamReportListItem span {
  display: block;
}

.DomainScamReportListItem span a:hover {
  text-decoration: underline;
}

.DomainScamReportListItem span a i {
  vertical-align: top;
}

.DomainScamReportList .ListSubSection {
  border-left: 5px solid #f4f7fa;
  padding-left: 0.5em;
}

:root:root:root .DomainScamReport .Source {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  color: #999;
}

:root:root:root .DomainScamReport .Source a {
  color: #999;
}

:root:root:root .DomainScamReport .Source a:hover {
  text-decoration: underline;
}
