:root:root:root  .DomainVoteCommitContainer {
  position: relative;
  font-family: "Open Sans", sans-serif !important
}

.DomainVoteCommitContainer .header {
  display: inline-block;
}

:root:root:root .DomainVoteCommitContainer .refresh {
  float: right;
  border: 1px solid #3434CE;
  border-radius: 3px;
  color: #3434CE !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
  box-shadow: unset;
}

.DomainVoteCommitContainer .HeaderColumn {
  padding-bottom: 0px !important;
}

.DomainVoteCommitContainer .HeaderRow {
  padding-top: 10px;
  font-family: "Open Sans", sans-serif !important;
  justify-content: space-between;
  display: flex;
}
.DomainVoteCommitContainer .HeaderRow .ui.large.header,
.DomainVoteCommitContainer p {
  font-family: "Open Sans", sans-serif !important
}

.DomainVoteCommitContainer .VotingDeadline {

}

:root:root:root .DomainVoteCommitContainer .InputVoteCommit input {
  background-color: #fff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(34, 36, 38, 0.15);
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  height: 30px;
  padding-left: 0px;
}

:root:root:root .DomainVoteCommitContainer .InputVoteCommit input:focus {
  border-bottom-color: #3434CE;
  border-top: none;
  border-right: none;
  border-left: none;
}

:root:root:root .DomainVoteCommitContainer .InputVoteCommit input[type='text']{
  text-align:left;
  padding-bottom: 0;
}
:root:root:root .DomainVoteCommitContainer .InputVoteCommit input::-webkit-input-placeholder {
  text-align: right;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  opacity: .5;
}

:root:root:root .DomainVoteCommitContainer .InputVoteCommit input:-moz-placeholder { /* Firefox 18- */
  text-align: right;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
:root:root:root .DomainVoteCommitContainer .InputVoteCommit input::-moz-placeholder {  /* Firefox 19+ */
  text-align: right;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
:root:root:root .DomainVoteCommitContainer .InputVoteCommit input:-ms-input-placeholder {
  text-align: right;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}

.DomainVoteCommitContainer .NumberCircle {
  border-radius: 10px;
  display: inline-block;
  float: left;
  font-size:8px;
  color: #F4F7FA;
  font-weight: bold;
  line-height: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  border: 1px solid #BEC0C2;
  padding: 2px;
  background: #BEC0C2 content-box;
  width: 21px;
  height: 21px;
}

.GovernanceVoteCommitContainer .ui.header>.icon {
    padding-left: 10px;
    padding-bottom: 6px;
    width: 50px;
    height: 35px;
}

.DomainVoteCommitContainer .NumCircle3 {
  top: 4em;
  position: relative;
}

.ui.horizontal.segments {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
:root:root:root .DomainVoteCommitContainer .SegmentOne {
  padding-right: 0;
  text-align: left;
}

:root:root:root .DomainVoteCommitContainer .SegmentOne label {
  font-size: 10px;
  padding-left: 5px;
}

:root:root:root .DomainVoteCommitContainer .SegmentTwo {
  border-left: none;
  padding-left: 0;
  padding-right: 0;
  /* width: 100%; */
}

:root:root:root .DomainVoteCommitContainer .SegmentThree {
  border-left: none;
  padding-left: 0;
}

:root:root:root .DomainVoteCommitContainer .SupportButton {
  border: 1px solid #10C903;
  border-radius: 3px;
  color: #10C903 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  box-shadow: unset;
}

:root:root:root .DomainVoteCommitContainer .OpposeButton {
	border: 1px solid #CE3434;
  border-radius: 3px;
  color: #CE3434 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  box-shadow: unset;
}

:root:root:root .DomainVoteCommitContainer .SupportButton.clicked {
  background-color: #10C903 !important;
  color: #FFF !important;
}

:root:root:root .DomainVoteCommitContainer .OpposeButton.clicked {
  background-color: #CE3434 !important;
  color: #FFF !important;
}

:root:root:root .DomainVoteCommitContainer .LeftSegment {
  width: 48%;
  margin-right: 0 !important;
  display: inline-block;
  font-size: 10px;
  min-height: 130px;
  padding-left: 14px;
}

:root:root:root .DomainVoteCommitContainer .RightSegment {
  width: 48%;
  margin-top: 0;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: 10px;
  min-height: 130px;
}

:root:root:root .DomainVoteCommitContainer .DownloadCommitButton {
  background-color: #3434CE !important;
  color: #FFFFFF !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #3434CE;
  text-transform: uppercase;
  box-shadow: unset;
}

:root:root:root .DomainVoteCommitContainer .DownloadCommitButtonContainer {
  padding-top: 3em;
  padding-left: 1em;
}

:root:root:root .DomainVoteCommitContainer .DownloadCommitButton .icon{
  margin-right: 0 !important;
  font-weight: 600;
}

:root:root:root .DomainVoteCommitContainer .SubmitVoteButton {
  border-radius: 3px;
  background-color: #10C903 !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF !important;
  box-shadow: unset;
}

:root:root:root .DomainVoteCommitContainer .SubmitVoteButtonContainer {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.ChallengeID {
  padding-top: 15px;
}

.SubmitMessage {
  padding-top: 5px;
  font-size: 10px;
}

:root:root:root .GovernanceVoteCommitContainer .HeaderRow span {
  background-color: #F4F7FA;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 600;
}
