:root:root:root .DomainVoteTokenDistribution .ProgressContainer .divider {
  padding-bottom: 1rem;
}

:root:root:root .DomainVoteTokenDistribution .ProgressContainer p {
  color: #424242;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
}

.DomainVoteTokenDistribution .BarContainer {
  max-width: 300px;
  margin: 0 auto;
}

.DomainVoteTokenDistribution .Breakdown {
  display: flex;
  max-width: 250px;
  margin: 0 auto;
  padding-top: 0.6em;
}

.DomainVoteTokenDistribution .BreakdownItem {
  display: inline-flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.DomainVoteTokenDistribution .BreakdownItem:nth-child(2):after {
  content: '';
  display: block;
  position: absolute;
  left: -1px;
  top: 0;
  width: 1px;
  height: 100%;
  background: #ddd;
}

.DomainVoteTokenDistribution .BreakdownItemBox {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #10C903;
  margin-right: 0.5em;
}

.DomainVoteTokenDistribution .BreakdownItem:nth-child(2) .BreakdownItemBox {
  background: #CE3434;
}

.DomainVoteTokenDistribution .BreakdownItemLabel {
  color: #10C903;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  line-height: 8px;
}

.DomainVoteTokenDistribution .BreakdownItem:nth-child(2) .BreakdownItemLabel {
  color: #CE3434;
}
