.DomainProfile {
  width: 100%;
}

.DomainProfile > .grid > .row:first-child {
  padding-bottom: 0;
}

.DomainProfile > .grid > .row > .column:first-child,
.DomainProfile > .grid > .row > .column:nth-child(2) {
  padding-right: 0;
}

.NeverAppliedContainer .HeaderRow {
  text-align: center;
}