.DomainProfileActionContainer {
  height: 100%;
}

.DomainProfileActionContainer .ui.divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

:root .DomainProfileActionContainer .form .input input {
  max-width: 220px;
  margin: 0 auto;
  text-align: center;
}

:root .DomainProfileActionContainer .VoteOptions {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

:root .DomainProfileActionContainer .VoteOptions .field:first-child .checkbox {
  margin-right: 0.3em;
}

:root .DomainProfileActionContainer .VoteOptions .checkbox {
  border: 1px solid #ececec;
  padding: 0.3em;
  border-radius: 5px;
}

:root .DomainProfileActionContainer .Salt {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  border: none;
  letter-spacing: 0.1em;
}

.DomainProfileActionContainer .header .info {
  font-size: 0.8em;
  vertical-align: top;
  margin-left: 0.6em;
}

.OuterDomainProfileActionContainer {
  height: 100%;
}
