.RedditReasonModal {
  font-family: 'Open Sans', sans-serif;
  width: 500px !important;
  margin: 0 !important;
  top: 30% !important;
  left: 37% !important;
}
.RedditReasonHeader {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #10C903;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 20px;
}

.RedditTitles {
  font-size: 10px;
  opacity: .8;
  color: #424242;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 20px;
}

.RedditDomainName {
  color: #424242;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  padding-left: 20px;
}

.RedditReason {
  color: #424242;
  font-size: 14px;
  line-height: 19px;
  padding-left: 20px;
}

.RedditReasonModal .ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

:root:root:root .RedditReasonModal .ButtonsContainer .CancelButton {
  font-size: 10px;
  text-transform: uppercase;
  color: #3434CE !important;
  font-weight: bold;
  box-shadow: unset;
  border: 1px solid #3434CE;
}

:root:root:root .RedditReasonModal .ButtonsContainer .ViewButton {
  font-size: 10px;
  text-transform: uppercase;
  color: #FF5700 !important;
  font-weight: bold;
  box-shadow: unset;
  border: 1px solid #FF5700;
  display: flex;
  align-items: center;
}

:root:root:root .RedditReasonModal .ButtonsContainer .CancelButton:hover {
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF !important;
  background-color: #3434CE !important;
  font-weight: bold;
  box-shadow: unset;
  border: 1px solid #3434CE;
}

:root:root:root .RedditReasonModal .ButtonsContainer .ViewButton:hover {
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF !important;
  background-color: #FF5700 !important;
  font-weight: bold;
  box-shadow: unset;
  border: 1px solid #FF5700;
}

:root:root:root .RedditReasonModal .ButtonsContainer .ViewButton:hover .redditPath {
  fill: #FFF;
}
:root:root:root .RedditReasonModal .ButtonsContainer .ViewButton:hover .redditG {
  fill: #FF5700;
}

.RedditReasonModal .redditSvg {
  margin-left: 4px;
}

.RedditReasonModal a {
  color: inherit !important;
  transition: unset;
  display: flex;
  align-items: center;
}

.RedditReasonModal a:focus {
  text-decoration: none;
}