.RedditConfirmationModal {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.DomainInput, .ADTInput {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}

.DomainInput .ApplyLabel {
  color: #10C903;
}

.DomainInput .ChallengeLabel {
  color: #CE3434;
}

.ReasonInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ReasonInput .ErrorMessage {
  color: #CE3434;
  padding-top: 5px;
}

:root:root:root .ui.loader:after {
  border-color: #000 transparent transparent !important;
}

.LoadingIconContainer {
  text-align: center;
  padding-bottom: 10px;
}

.PopulatedSpan {
  background-color: #F4F7FA;
  border-radius: 3px;
  width: 30%;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  flex-grow: 1;
  font-weight: 600;
}

:root:root .ReasonInputTextArea {
  min-height: 200px;
  width: 60%;
  border-style: none;
  background-color: #F4F7FA;
  border-radius: 3px;
  padding: 10px;
}

.ReasonInputLabel {
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  opacity: .8;
  text-transform: uppercase;
  width: 60%;
  padding-bottom: 5px;
}

.ReasonInput textarea::-webkit-input-placeholder {
  padding: 5px;
  opacity: .5;
}

.ReasonInput textarea:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
  opacity: .5;
}

.ReasonInput textarea::-moz-placeholder {  /* Firefox 19+ */
  padding: 5px;
  opacity: .5;
}

.ReasonInput textarea:-ms-input-placeholder {
  padding: 5px;
  opacity: .4;
}

.RedditConfirmationModal .ButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

:root:root .RedditConfirmationModal .ButtonsContainer .CancelButton {
  border: 1px solid #3434CE !important;
  box-shadow: unset;
  text-transform: uppercase;
  color: #3434CE !important;
  font-weight: 700;
  font-size: 9.5px
}

:root:root .RedditConfirmationModal .ButtonsContainer .ApplyButton {
  border: 1px solid #10C930 !important;
  box-shadow: unset;
  text-transform: uppercase;
  color: #10C930 !important;
  font-weight: 700;
  font-size: 9.5px;
}

:root:root .RedditConfirmationModal .ButtonsContainer .ChallengeButton {
  border: 1px solid #CE3434 !important;
  box-shadow: unset;
  text-transform: uppercase;
  color: #CE3434 !important;
  font-weight: 700;
  font-size: 9.5px;
}
