.AccountDashboard {
  width: 100%;
}

.AccountDashboard > .grid > .row:first-child,
:root:root:root .AccountDashboard .NoPaddingBottom {
  padding-bottom: 0;
}

:root:root:root .AccountDashboard .NoPaddingRight {
  padding-right: 0;
}

.AccountDashboard > .grid > .row:first-child {
  padding-bottom: 0;
}

.AccountDashboard > .grid > .row > .column:not(.sixteen):first-child {
  padding-right: 0;
}

.DashboardColumn {
  font-family: "Open Sans", sans-serif;
}

.DashboardColumn table {
  table-layout: fixed;
  width: 100%;
}

.DashboardColumn table td {
  word-break: break-all;
}

.DashboardTitle {
  text-align: left;
  font-size: 14px;
}

.DashboardFirstCell {
  /* padding-right: 2em; */
  font-weight: 600;
}

.DashboardRow {
  height: 3em;
  border-bottom: 1px solid #F4F7FA;
  font-size: 12px;
}
