.AccountHeader {
  display: flex;
  min-height: 105px;
}

.AccountHeader .image {
  width: 60px;
  height: 60px;
  background: #ddd;
  margin-right: 10px;
}

.AccountHeader .Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.1em 0;
  justify-content: center;
}

.AccountHeader .Header {
  font-size: 0.9em;
}

.AccountHeader .SubHeader {
  font-size: 1.4em;
  white-space: nowrap;
}

.AccountHeader .SubHeader .Name {
  display: inline-block;
  margin-right: 10px;
}

.AccountHeader .SubHeader .Country {
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .AccountHeader .SubHeader {
    overflow-x: auto;
  }
}
