:root:root:root .AccountStatsbar {
  position: relative;
}

:root:root:root .AccountStatsbar .row {
  margin: 0;
}

:root:root:root .AccountStatsbar .input {
  width: 80px;
}

:root:root:root .AccountStatsbar .column {
  position: relative;
}

:root:root:root .AccountStatsbar .row:nth-child(2) .column:first-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  height: 100%;
  width: 1px;
  /*border-right: 1px solid #ddd;*/
}
:root:root:root .AccountStatsbar .InfoIcon{
  height: 14px;
  padding-left: 7px;
  margin-top: -1px;
  z-index: 101;
  position: relative;
}

@media only screen and (max-width: 767px) {
  :root:root:root .AccountStatsbar .row:nth-child(2) .column:first-child:after {
    border-right: none;
  }
}
