.DomainsFilterPanel.BoxFrame {
  padding: 0;
}

.DomainsFilterPanel .grid {
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 767px) {
  :root:root:root:root .DomainsFilterPanel .grid {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.DomainsFilterPanel .SearchContainer {
  background: #536DEB;
}

.DomainsFilterPanel .SearchContainer .input {
  width: 100%;
}

.DomainsFilterPanel .SearchContainer .icon {
  color: #F4F7FA;
}

.DomainsFilterPanel .SearchContainer input,
.DomainsFilterPanel .SearchContainer input:focus {
  width: 100%;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid #F4F7FA;
  border-radius: 0;
  color: #F4F7FA;
}

.DomainsFilterPanel .SearchContainer input:focus::-webkit-input-placeholder,
.DomainsFilterPanel .SearchContainer input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.DomainsFilterPanel .ListTitle {
  font-size: 1em;
  color: #686972;
  margin-bottom: 10px;
}

:root:root .DomainsFilterPanel .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root:root .DomainsFilterPanel .list .input {
  margin-right: 10px;
}


:root:root .DomainsFilterPanel .list .item {
  margin-bottom: 5px;
}

:root:root .DomainsFilterPanel .list .item:before {
  display: none;
}

.DomainsFilterPanel .Reset {
  text-align: center;
}

.DomainsFilterPanel .Reset a {
  text-transform: uppercase;
}

.DomainsFilterPanel .Reset a:hover {
  text-decoration: underline;
}
