.DomainPendingDontainer {
  position: relative;
  height: 100%;
}


.DomainPendingContainer .header {
  display: inline-block;
}

:root:root:root .DomainPendingContainer .refresh {
  float: right;
  border: 1px solid #3434CE;
  border-radius: 3px;
  color: #3434CE !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
  box-shadow: unset;
}

.DomainPendingContainer .HeaderColumn {
  padding-bottom: 0px !important;
}

.DomainPendingContainer .HeaderRow {
  padding-top: 10px;
}

.DomainPendingContainer .DomainPendingBody {
  height: 100%;
}

.PendingMessage {
  padding-left: 20px;
  padding-right: 20px;
}
