:root:root:root .DomainStatsbar {
  position: relative;
  min-height: 105px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

:root:root:root .DomainStatsbar .row {
  margin: 0;
  padding: 5px 0;
}

:root:root:root .DomainStatsbar .input {
  width: 80px;
}

:root:root:root .DomainStatsbar .column {
  position: relative;
}

:root:root:root .DomainStatsbar .row:nth-child(2) .column:first-child:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 1em;
  height: 100%;
  width: 1px;
  /*border-right: 1px solid #ddd;*/
}

:root:root:root .DomainStatsbar .Header {
  text-transform: uppercase;
  color: #909090;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  min-height: 13px;
  font-family: 'Open Sans',sans-serif;
}
/*:root:root:root .DomainStatsbar .InfoIcon {
  margin-top:-1px;
  padding-left:5px;
}
*/

:root:root:root .DomainStatsbar .Category {
  display: flex;
}

:root:root:root .DomainStatsbar .Category ::-webkit-scrollbar {
  width: 137px;
  height: 3px;
  color: #F4F7FA;
}

:root:root:root .DomainStatsbar .Category strong {
  height: auto;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
}

:root:root:root .DomainStatsbar .Source {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.7em;
  color: #999;
}

:root:root:root .DomainStatsbar .Source a {
  color: #999;
}

:root:root:root .DomainStatsbar .Source a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  :root:root:root .DomainStatsbar .row:nth-child(2) .column:first-child:after {
    border-right: none;
  }
}
