.DomainProfileHeader {
  display: flex;
  min-height: 105px;
}

.DomainProfileHeader .image {
  width: 60px;
  height: 60px;
  background: #ddd;
  margin-right: 10px;
}

.DomainProfileHeader .Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.1em 0;
}

.DomainProfileHeader .Header {
  font-size: 1.4em;
  font-weight: bold;
}

.DomainProfileHeader .Header img {
  margin-right: 0.2em;
  vertical-align: middle;
}

.DomainProfileHeader .Header a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.DomainProfileHeader .Header a i {
  vertical-align: top;
  margin-left: 0.2em;
}

.DomainProfileHeader .Header a:hover {
  text-decoration: underline;
}

.DomainProfileHeader .SubHeader {
  font-size: 0.9em;
}

.DomainProfileHeader .SubHeader .Name {
  display: inline-block;
  margin-right: 10px;
}

.DomainProfileHeader .SubHeader .Country {
  display: inline-block;
}
