:root:root .DomainsTable {
   padding: 2em 3em;
}


.DomainsTable .ui.table {
  width: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  min-height: 350px;
}

.DomainsTable .ui.table .rt-table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.DomainsTable .ui.table .rt-table::-webkit-scrollbar-track {
  background: #fff;
}

.DomainsTable .ui.table .rt-table::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.DomainsTable .ui.table .rt-table::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

:root:root .DomainsTable .ReactTable .rt-thead.-header {
  background: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
}

:root:root .DomainsTable .ReactTable .rt-thead .rt-th,
:root:root .DomainsTable .ReactTable .rt-thead .rt-td {
  font-weight: bold;
  border-right: none;
  text-align: left;
}

:root:root .DomainsTable .ReactTable .rt-tbody .rt-tr-group {
  border-bottom: 1px solid #f5f5f5;
}

:root:root .DomainsTable .ReactTable .rt-tbody .rt-td {
  border-right: none;
}

:root:root .DomainsTable .ReactTable .rt-thead .rt-th.Number,
:root:root .DomainsTable .ReactTable .rt-thead .rt-td.Number,
:root:root .DomainsTable .ReactTable .rt-tbody .rt-td.Number {
  text-align: right;
  height: 100%;
  width: 100%;
  display: inline-block;
}

:root:root .DomainsTable .ReactTable .rt-thead .rt-th.-sort-desc,
:root:root .DomainsTable .ReactTable .rt-thead .rt-td.-sort-desc {
  box-shadow: inset 0 -3px 0 0 #4585c7;
}

:root:root .DomainsTable .ReactTable .rt-thead .rt-th.-sort-asc,
:root:root .DomainsTable .ReactTable .rt-thead .rt-td.-sort-asc {
  box-shadow: inset 0 3px 0 0 #4585c7;
}

:root:root .DomainsTable .ReactTable .rt-thead.-filters {
  display: none;
}

:root:root .DomainsTable .ReactTable .ui.button {
  font-size: 0.7em;
  text-transform: uppercase;
  min-width: 94px;
}
:root:root .DomainsTable .ReactTable .rt-tr-group:hover .red{
  color:white;
  background:#db2828;
}
:root:root .DomainsTable .ReactTable .rt-tr-group:hover .blue{
  color:white;
  background:#3434CE;
}
:root:root .DomainsTable .ReactTable .rt-tr-group:hover .green{
  color:white;
  background:#10C903;
}
:root:root .DomainsTable .ReactTable .rt-tr-group:hover{
  cursor:pointer;
  border-radius:5px;
  background:#f5f5f5;
}
:root:root .DomainsTable .ReactTable .Domain, 
:root:root .DomainsTable .ReactTable span,
:root:root .DomainsTable .ReactTable .Number,
:root:root .DomainsTable .ReactTable .rt-tr div {
  color:#424242;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
  padding:4px 0;
  height: 100%;
  width: 100%;
  display: inline-block;
}
:root:root .DomainsTable .ReactTable .Domain, 
:root:root .DomainsTable .ReactTable span:last-of-type
{
  display: inline;
}
:root:root .DomainsTable .ReactTable span,
:root:root .DomainsTable .ReactTable .Number  {
  font-weight: 400;
}
:root:root .ReactTable .rt-tr {
    min-height: 37px;
    padding: 4px 2px;
}
:root:root .DomainsTable .ReactTable .rt-thead .rt-resizable-header:nth-child(2) .rt-resizable-header-content{
    padding-left: 22px;
}
:root:root .DomainsTable .ReactTable .Domain img {
  margin-right: 0.3em;
  vertical-align: middle;
}
:root:root .DomainsTable .ui.button, .ui.buttons .button {
  padding:6px;
}
:root:root .DomainsTable .ui.red.button, .ui.red.buttons .button {
    color: #db2828;
    background: white;
    /* color: #fff; */
    text-shadow: none;
    background-image: none;
    border: 1px solid;
    border: 1px solid #CE3434;
}
:root:root .DomainsTable .ui.red.button:hover, .ui.red.buttons .button:hover {
    color: white;
    background: #db2828;
    text-decoration: none;
}
:root:root .DomainsTable .ui.green.button:hover, .ui.green.buttons .button:hover {
    color: white;
    background: #10C903;
    text-decoration: none;
}
:root:root .DomainsTable .ui.blue.button:hover, .ui.blue.buttons .button:hover {
    color: white;
    background: #3434CE;
    text-decoration: none;
}
:root:root .DomainsTable .ReactTable .rt-tbody .rt-td a:hover {
    text-decoration: none;
}
:root:root .DomainsTable  .ui.blue.button, .ui.blue.buttons .button {
    background-color: white;
    color: #3434CE;
    text-shadow: none;
    background-image: none;
    border: 1px solid #3434CE;
}
:root:root .DomainsTable .ui.green.button, .ui.green.buttons .button {
    background-color: white;
    color: #10C903;
    text-shadow: none;
    background-image: none;
    border: 1px solid #10C903;
}
:root:root .table-button{
  margin-top: 2px;
}
:root:root .DomainsTable .ReactTable .-pagination {
  font-size: 0.8em;
}

:root:root .DomainsTable .ReactTable .-pagination .-btn {
  padding: .2em;
}

:root:root .DomainsTable .ReactTable .-pagination .-pageInfo {
  color: #a2a2a2;
}

:root:root .DomainsTable span.success {
  color: #116b11;
}

:root:root .DomainsTable span.purple {
  color: #633e80;
}

:root:root .DomainsTable span.warn {
  color: #ad4a00;
}

:root:root .DomainsTable span.error {
  color: #b10000;
}

:root:root .DomainsTable span.info {
  color: #4183c4;
}
