:root:root:root .MainSidebar {
  background: #272B34;
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root:root .MainSidebar .adChainLogo {
  width: 100%;
  padding: 0.6em;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

:root:root .MainSidebar .adChainLogo img {
  max-width: 150px;
  margin: 0 auto;
}

:root:root .MainSidebar .ListTitle {
  font-size: 1.4em;
  color: #F4F7FA;
  font-weight: bold;
  padding: 0.3em 0.9em;
}


:root:root .MainSidebar .SidebarList {
  width: 100%;
  height: 100%;
  overflow: auto;
}

:root:root .MainSidebar .list {
  margin: 0;
  padding: 0;
}

:root:root .MainSidebar .list .item {
  color: #F4F7FA;
}

:root:root .MainSidebar .list .item:before,
:root:root .MainSidebar .list .item:after {
  display: none;
}

:root:root .MainSidebar .list .item a {
  display: block;
  padding: 0.3em 1.2em;
}

:root:root .MainSidebar .list .item a:hover {
  text-decoration: underline;
}

:root:root:root .MainSidebar .ApplyLink {
  padding: 0.3em 0.7em;
}

:root:root:root .MainSidebar .ApplyLink a {
  border: 1px solid #536DEB;
  border-radius: 0.3em;
  color: #536DEB;
  padding: 0.3em 0.7em;
}

:root:root .MainSidebar .metaxLogo {
  padding: 2em;
}

:root:root .MainSidebar .Copyright {
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  color: #686972;
  margin-bottom: 10px;
}
