.MainTopbar {
  width: 100%;
  background: #536DEB;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

:root:root .MainTopbar .menu {
  border: none;
  border-radius: 0;
  background: none;
}

.MainTopbar .AddressContainer {
  display: flex;
  align-items: center;
}

.MainTopbar .AddressContainer .Identicon {
  margin-right: 5px;
}

.MainTopbar .AdtLogo {
  width: 32px;
  margin-right: 5px;
}
