.MainTopbar {
  width: 100%;
}

:root:root .MainTopbar .menu {
  border: none;
  border-radius: 0;
  background: #536DEB;
}

.MainTopbar .AddressContainer {
  display: flex;
  align-items: center;
}

.MainTopbar .AddressContainer .Identicon {
  margin-right: 5px;
}
