@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.MainContainerFade-enter {

}

.MainContainerFade-enter.MainContainerFade-enter-active {
  animation-name: fadeInLeft;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.MainContainerFade-leave {

}

.MainContainerFade-leave.fade-leave-active {

}

.MainContainerFade-appear {

}

.MainContainerFade-appear.MainContainerFade-appear-active {

}
