.PublisherApplicationForm {
  position: relative;
}


.PublisherApplicationForm .header {
  border-bottom: 4px solid #4585c7;
}

:root:root .PublisherApplicationForm .form label {
  text-transform: uppercase;
}
