.RegistryGuideStaticChallenge {
  position: relative;
}

.RegistryGuideStaticChallenge .header {
  display: inline-block;
  font-size: 17px !important;
}

:root:root:root .RegistryGuideStaticChallenge .refresh {
  float: right;
  border: 1px solid #3434CE;
  border-radius: 3px;
  color: #3434CE !important;
  font-family: "Open Sans", sans-serif;
  font-size: 9.5px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
  box-shadow: unset;
}

.RegistryGuideStaticChallenge .HeaderColumn {
  padding-bottom: 0px !important;
}

.RegistryGuideStaticChallenge .HeaderRow {
  padding-top: 10px;
}

.RegistryGuideStaticChallenge .NumberCircle {
  border-radius: 10px;
  display: inline-block;
  float: left;
  font-size:8px;
  color: #F4F7FA;
  font-weight: bold;
  line-height: 13px;
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  border: 1px solid #BEC0C2;
  padding: 2px;
  background: #BEC0C2 content-box;
  width: 21px;
  height: 21px;
}

:root:root:root .ChallengeButton {
	color: #CE3434 !important;
	font-family: "Open Sans", sans-serif;
	font-size: 9.5px;
	font-weight: bold;
	text-align: center;
  border: 1px solid #CE3434;
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: unset;
}

:root:root:root .ChallengeButton:hover {
  background-color: #CE3434 !important;
  color: #FFF !important;
}

.CountdownText .CountdownUnit {
  margin: 15px;
  width: 40px;
  border-radius: 3px;
  background-color: #F4F7FA;
  color: #424242;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  display: inline-block;
}

.CountdownText .CountdownUnit .CountdownLabel {
  display: flow-root;
  color: #424242;
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  background-color: #FFF;
  padding-top: 5px
}
