:root:root .RegistryStatsbar {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:root:root .RegistryStatsbar .large.header {
  border-bottom: 4px solid #536DEB;
}

:root:root .RegistryStatsbar .statistics {
 font-size: 0.7em;
 display: flex;
 align-items: center;
}

:root:root .RegistryStatsbar .statistic {
  margin-bottom: 0;
  position: relative;
  min-width: 95px;
  padding: 0.3em 0;
}

:root:root .RegistryStatsbar .statistic:not(:last-child):after {
  content: '';
  display: block;
  position: absolute;
  right: -1.5em;
  top: 0;
  height: 100%;
  width: 1px;
  border-right: 1px solid #ddd;
}

:root:root .RegistryStatsbar .statistic .label,
:root:root .RegistryStatsbar .statistic .value {
  font-weight: normal;
}

:root:root .RegistryStatsbar .statistic .value {
  margin-bottom: 0.2em;
}

@media only screen and (max-width: 767px) {
  :root:root .RegistryStatsbar .statistics {
    margin: 0 auto;
  }
}
