.WithdrawVotingRightsContainer {
  position: relative;
}

:root:root .WithdrawVotingRightsContainer .UnlockedAdt {
  padding-top: 0;
}

:root:root .WithdrawVotingRightsContainer .UnlockedAdtText {
  padding-bottom: 1em;
}

/* #WithdrawVotingRightsContainerInput {
  max-width: 50px !important;
} */
