.OpenProposalsTable{
	width:100%;
	font-size:12px;
}
.OpenProposalsTable th{
	text-align: left;
}
.OpenProposalsTable .table-row{
	font-family: "Open Sans", sans-serif;
	border-bottom: 1px solid #f5f5f5;
}
.OpenProposalsTable .table-row:last-of-type{
	border-bottom: none;
}
.OpenProposalsTable .table-row td{
	padding:8px 0;
	font-weight: 600;
} 
.OpenProposalsTable .ui.mini.button{
	font-size: 9.8px;
	background-color: transparent;
	padding: 6px 15px;
}
.OpenProposalsTable .table-row td:last-of-type,
.OpenProposalsTable tr th:last-of-type{
	text-align: center;
}
.OpenProposalsTable th{
	font-family: "Open Sans", sans-serif;
	padding-top: 4px;
}
.RegistryGuideOpenProposals{
    height: 95%;
}
